credentials/*
.env
.venv/*
.vscode/*
data/*.csv
dwh/*.csv
__pycache__
__pycache__/*
*.pyc


# Terraform
infra/terraform/.terraform/
infra/terraform/*.tfstate*
infra/terraform/terraform.tfvars
infra/terraform/.terraform.lock.hcl

# CDC Data
infra/cdc/debezium-server/data
!infra/cdc/debezium-server/data/.gitkeep
datagen/data/*

# DBT
dbt/thelook_dwh/target
report
scratch