pandas
numpy
pyarrow
sqlalchemy
psycopg2-binary
confluent-kafka
google-cloud-pubsub
google-cloud-bigquery
google-cloud-storage
apache-beam[gcp]
dbt-bigquery
apache-airflow==2.10.2
flask
gunicorn
python-dotenv
streamlit
plotly
google-cloud-bigquery-storage