# Example values for Terraform variables
# Copy this file to terraform.tfvars and adjust as needed

project_id      = "cloud-data-project"
region          = "asia-southeast1"
gcs_bucket_name = "etl-staging-0"

bq_dataset_staging         = "staging"
bq_dataset_datawarehouse = "datawarehouse"

pubsub_topic_name        = "thelook-cdc-events"
pubsub_subscription_name = "thelook-cdc-events-sub"
